services:
  tracksee:
    build: .
    container_name: tracksee-app
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - DATABASE_URL=postgresql://tracksee_user:D2rGkB6CaIwpb@89.208.14.253:5435/tracksee_db
      - NEXTAUTH_SECRET=asdodfskljfjhsdlkfsdfioue3lwwlkhsd
      - NEXTAUTH_URL=https://tracksee.ru
      - PORT=3000
      - HOSTNAME=0.0.0.0
      - NEXT_PUBLIC_APP_URL=https://tracksee.ru
    ports:
      - "3000:3000"
    networks:
      - nginx-proxy-manager_default

networks:
  nginx-proxy-manager_default:
    external: true
