version: '3.8'

services:
  app:
    image: node:20-alpine
    container_name: tracksee-app
    working_dir: /app
    restart: unless-stopped
    environment:
      DATABASE_URL: postgres://postgres:D2rGkB6CaIwpb@tracksee-db:5432/tracksee
      NEXTAUTH_SECRET: asdasdLskksak111LLS
      NEXTAUTH_URL: https://tracksee.ru
      NEXTAUTH_TRUST_HOST: true
      NODE_ENV: production
      PORT: 3000
    ports:
      - "5440:3000"
    command: >
      sh -c "
        echo 'Installing dependencies...' &&
        npm install &&
        npm run build &&
        npm start
      "
