version: '3.8'

services:
  tracksee:
    build: .
    image: tracksee:latest
    container_name: tracksee-app
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - DATABASE_URL=postgresql://tracksee_user:D2rGkB6CaIwpb@89.208.14.253:5435/tracksee_db
      - NEXTAUTH_SECRET=asdodfskljfjhsdlkfsdfioue3lwwlkhsd
      - NEXTAUTH_URL=http://89.208.14.253:3000
      - PORT=3000
    ports:
      - "3000:3000"
    networks:
      - nginx-proxy-manager_default
    command: npm start -- -H 0.0.0.0

networks:
  nginx-proxy-manager_default:
    external: true
